*{
  margin: 0px;
  font-family: sans-serif;
}

body{
  margin: 0px;
  scrollbar-width: none;
  
}



.header{
  padding: 10px;
  -webkit-box-shadow: -4px 6px 5px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: -4px 6px 5px 0px rgba(0, 0, 0, 0.171);
  box-shadow: -4px 6px 5px 0px rgba(0, 0, 0, 0.26);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  width: 100%;
}
.cart{
  width: 30px;
  height: 30px;
  font-weight: 600;
  color: rgb(124, 124, 124);
}
.cart:hover{
  color: #037e49;
  cursor: pointer;
}
.qtd-cart{
  background-color: orangered;
  border-radius: 500px;
  width: 5px;
  height: 5px;
  padding: 5px;
  color: white;
  font-size: 10px;
}
.enunciado{
  margin-top: 150px;
  padding-left: 10px;
  padding-bottom: 0px;
  margin-left: 50px;
  border-left: 3px solid green;
  font-size: 18px;
  color: rgb(61, 60, 60);
}
.products-list{
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: auto;
  
}
.product{
  margin: 15px;
  height: 230px;
  width: 150px;
  padding: 10px;
  background-color: white;
  border: 1px solid rgb(199, 199, 199);
  text-align: center;

}
.product p{
  margin-top: 10px;
  font-size: 16px;
  color: rgb(80, 79, 79);
}
.product div{
  margin-top: 5px;
  color: rgb(48, 48, 48);
  font-weight: 600;
}

.quantidade button{
  border: none;
}
.quantidade span{
  font-weight: 400;
}

.sub-menu{
  display: flex;
}

.sub-menu div{
  margin-left: 10px;
  cursor: pointer;
  color: rgb(112, 112, 112);
}

.sub-menu div:hover{
  color: black;
}


footer{
  height: 100px;
  background-color: rgb(32, 82, 32);
}

.contatos{
  margin-left: 50px;
  padding: 20px;
  padding-top: 50px;
  color: white;
  font-size: 18px;
  width: 300px;
  font-weight: 500;
}
.cart-modal-area{
  display: flex;
  justify-content: right;
}
.cart-area{
  margin-right: 30px;
}
.cart-modal{
  margin-top: 10px;
  margin-right: 10px;
  width: 300px;
  height: 400px;
  position: fixed;
  top: 90px;
  background-color: white;
  -webkit-box-shadow: 1px 2px 15px 3px rgba(0, 0, 0, 0.274); 
  box-shadow: 1px 2px 15px 3px rgba(0, 0, 0, 0.274);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.btn-finalizar-compra button{
  padding: 10px;
  background-color: #037e49;
  border: none;
  border-radius: 5px;
  color: white;
  bottom: 15px;
  cursor: pointer;
}

.btn-finalizar-compra{
  display: flex;
  justify-content: center;
}
.btn-finalizar-compra div{
  margin-top: 5px;
  padding-right: 10px;
  color: rgb(83, 83, 83);
  font-weight: 700;
}
.cart-modal p{
  text-align: center;
  padding: 20px;
  color: rgb(121, 121, 121);
  
}

.cart-item{
  width: 80%;
  border-radius: 7px;
  border: 1px solid rgb(216, 215, 215);
  display: flex;
  margin-top: 10px;
}
.card-item-list-area{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 265px;
  overflow-y: scroll;
  
}
::-webkit-slider-thumb{
  width: 0;
}
.cart-item button{
  border: none;
}
.cart-item-qtd-area{
  margin-top: 5px;
}
.cart-item img{
  width: 100px;
  height: 100px;
  margin: 5px;
}
.cart-item-nome{
  font-size: 12px;
  color: rgb(94, 94, 94);
  margin-top: 15px;
  margin-right: 10px;

}
.cart-item-preco{
  color: rgb(94, 94, 94);
  font-weight: bold;
  margin-top: 5px;
}
.visible{
  display: none;
}
.titulo-vazio{
  color: rgb(170, 170, 170);
  font-size: 14px;
}



.modal-finalizar-compra{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  background-color: rgba(26, 139, 22, 0.226);
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.45); 
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.45);

}
.modal-finalizar-compra-item{
  width: 700px;
  height: 500px;
  background-color: white;
  position: fixed;
  top: 70px;
  left: 300px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo-modal-finalizar-compra{
  margin-top: 20px;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.modal-finalizar-compra p{
  color: rgb(121, 121, 121);
}

.form-title{
  margin-left: 50px;
}

.endereço-area{
  display: flex;
  width: 100%;
  margin-top: 20px;
  color: rgb(83, 83, 83);
  
}
.endereço-area input{
  margin-left: 50px;
  margin-top: 10px;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  outline: 0;
  box-shadow: none;
  border: 1px solid green;
}

.form-title2{
  margin-left: 50px;
}

.forma-de-pagamento{
  margin-top: 25px;
  width: 100%;
  color: rgb(82, 81, 81);
}
.form-area{
  margin-left: 50px;
  margin-top: 10px;
}
#numero{
  width: 200px;
}


.sair-form{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: rgb(139, 139, 139);
  cursor: pointer;
}

.btn-area-compra{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.btn-area-compra button{
  padding: 10px 15px;
  border: none;
  border-radius: 7px;
  background-color: #07bb6d;
  cursor: pointer;
  color: white;
}
.btn-area-compra a{
  padding: 10px 15px;
  border: none;
  border-radius: 7px;
  background-color: #07bb6d;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.btn-area-compra a:hover{
  background-color: #037e49;
}
.btn-area-compra button:hover{
  background-color: #037e49;
}

.compra-finalizada{
  position: fixed;
  top: 120px;
  left: 450px;
  background-color: #037e49;
  color: white;
  width: 400px;
  text-align: center;
  padding: 20px;
  border-radius: 7px;
}